.header
    padding: 13px 0 
    background-color: #0068b2

.navmenu
    margin-right: auto 
    display: block 

.menu 
    display: flex 
    align-items: center 
    &-item 
        display: flex 
        align-items: center
        margin: 0 16px

    a 
        font-size: 16px
        line-height: 10px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: -0.01em
        color: #fbf4fc
        color: $white
        position: relative 
        white-space: nowrap
        display: flex 
        align-items: center
        &:hover 
            color: #96d3f6
        &:before 
            content: ''
            +centerY
            left: 0

        &.icon-star
            padding-left: 34px
            &:before 
                font-size: 24px
                content: url("../img/icons/star.png")
        &.icon-notes
            padding-left: 33px
            &:before 
                font-size: 23px
                content: url("../img/icons/notes.png")
        &.icon-compass
            padding-left: 39px
            &:before 
                font-size: 29px
                content: url("../img/icons/compass.png")
        &.icon-land
            padding-left: 40px
            &:before 
                font-size: 30px
                content: url("../img/icons/lang.png")
        
.logo 
    margin-right: 54px 
    margin-bottom: 14px

.arr 
    +box(10px,6px)
    display: block
    margin-left: 8px
    position: relative 
    &:before 
        content: url("../img/icons/arr-down.png")
        +centerY 
        left: 0
        font-size: 10px


.submenu 
    display: none 

.btn-favorites 
    font-size: 16px
    line-height: 24px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: -0.01em
    color: #fbf4fc
    padding-left: 37px 
    position: relative
    &:before 
        content: url("../img/icons/heart.svg") 
        +centerY 
        left: 0
        font-size: 24px
        +box(24px)

.burger
    +box(40px)
    position: relative
    flex-shrink: 0
    z-index: 9
    background: #ffd800 
    display: none
    margin-left: 15px
    border-radius: 3px
    &-line
        background-color: $black
        +centerX
        +box(20px,2px)
        transition: all 0.3s ease
        &-top
            top: 13px
        &-center
            top: 50% 
            transform: translate(-50%,-50%)
        &-bottom
            bottom: 13px
    &.active 
        position: fixed
        top: 19px 
        right: 15px
        .burger-line-top
            top: 50% 
            transform: translate(-50%,-50%) rotate(227deg)
        .burger-line-center
            opacity: 0
        .burger-line-bottom
            top: 50% 
            transform: translate(-50%,-50%) rotate(-227deg)
