.mx-auto
    margin-left: auto 
    margin-right: auto 

.ml-auto 
    margin-left: auto 
    
.mr-10 
    margin-right: 10px

.mr-30 
    margin-right: 30px

.mt-5 
    margin-top: 5px

.mt-10 
    margin-top: 10px

.mt-24 
    margin-top: 24px 

.pb-15
    padding-bottom: 15px

.p-20
    padding: 20px

.pl-40
    padding-left: 40px