@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
 

@media only screen and (min-width : 576px)
    .flex-sm-center-between
        +d-flex(space-between, center)
    .d-sm-none
        display: none 
    .d-sm-block 
        display: block
    .d-sm-flex
        display: flex

@media only screen and (min-width : 992px)
    .players-side:last-child
        justify-content: flex-end

@media only screen and (min-width : 768px)
    .d-md-block
        display: block
    .w-md-50
        width: 50%
    .pl-md-20 
        padding-left: 20px

@media (min-width : 992px) and (max-width : 1199px)
    .radio-card img
        height: 12.58vw
    .radio-card
        width: calc(20% - 1.73vw)
        margin-right: 2.16vw
    .radio-card_bottom
        padding: 1.083vw 1.66vw 2.083vw
    .station-main .left 
        padding-right: 15px
    
@media only screen and (max-width : 1199px)
    .radio-block
        padding: 5px
    .radio-white
        padding: 5px
        width: calc(100% - 220px)
    .radio-info
        padding: 5px 10px
    .radio-right
        width: 220px
        padding: 5px 5px 8px 5px
    .radio-right .mejs__container,  .radio-right .mejs__button button 
        +box(65px!important)
    .mejs__button.mejs__play > button:before
        transform: translate(-50%, -50%) scale(0.6)
    .radio-right
        justify-content: space-around
@media only screen and (max-width : 991px)
    .burger
        display: block
    .navmenu
        position: fixed 
        z-index: 8 
        top: 0 
        left: 0 
        height: 100vh 
        overflow-y: auto 
        width: 100%
        background-color: rgba($black, 0.6)
        opacity: 0
        pointer-events: none
        transition: all 0.3s ease
        &.active 
            opacity: 1 
            pointer-events: auto 
            .menu
                transform: translateX(0)
    .menu 
        margin-left: auto 
        width: 80% 
        height: 100%
        background-color: $bg-white
        transform: translateX(100px)
        transition: all 0.3s ease
        display: block
        padding-top: 65px
        &-link
            line-height: 45px 
            color: $black
            padding-left: 40px!important
            width: 100%
        .arr:before
            content: url("../img/icons/arr-more-down.png")
    .menu-item
        display: block     
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    .submenu  
        position: static
        padding: 0 
    .submenu-container
        box-shadow: none 
        padding: 0 10px
    .submenu-content
        padding: 0 0 20px 0
    .submenu-title 
        display: none
    .submenu-content ul
        padding-top: 0
    .menu-item:hover .menu-link:before
        content: none
    .logo
        margin-right: auto
    .content 
        padding-left: 10px
        width: calc(100% - 240px)
    .sidebar 
        width: 240px
        padding: 21px 15px
    .players-side
        width: fit-content 
        max-width: 300px
    .navfooter a 
        margin: 10px 15px 0 0
    .playlist .mejs__controls
        padding-right: 15px!important
    #up
        display: none
    .left
        width: calc(100% - 200px)
        padding-right: 15px
    .right 
        width: 200px
    .plaed
        padding: 35px 30px
    .station-main
        .left 
            width: 100% 
            padding-right: 0
        .right 
            width: 100%
    .radio-card img
        height: 171px
    .radio-card
        width: 171px 
        flex-shrink: 0
    .slider-x_lg
        width: calc(100% + 30px)
        overflow-x: auto 
        flex-wrap: nowrap
        margin: 0 -15px
        padding: 0 15px 25px
    .radio-stations .btn-more
        display: none
    .radio-card
        display: block!important
    .menu-item:hover .submenu
        height: 100%
@media only screen and (max-width : 767px)
    .btn-filter
        display: block
    .sidebar 
        position: fixed 
        top: 0 
        left: 0
        height: 100vh 
        overflow-y: auto 
        width: 100% 
        z-index: 9
        opacity: 0 
        pointer-events: none 
        transition: all 0.3s ease
        .close
            display: block
        &.active 
            opacity: 1 
            pointer-events: auto
    .content 
        width: 100% 
        padding-left: 0
    .sort
        padding: 20px 0
    .media-wrapper
        flex-wrap: wrap
    .mejs__button.mejs__volume-button
        position: absolute
        top: auto 
        right: auto
        bottom: 0
        transform: none
        left: 46px
    .arrow-player.next 
        margin-right: 0
    .players-side:last-child
        width: 100%
    .media-wrapper .mejs__horizontal-volume-slider
        right: auto 
        left: 43px
        top: auto
        transform: none
        bottom: 0
    .left 
        width: 100% 
        padding-right: 0
    .right 
        width: 100%
    .radio-card
        margin-right: 15px
    .tracks .plaed-list
        max-width: 100%
    .radio-block
        display: block
    .radio-white, .radio-right
        width: 100%
    .radio-right .mejs__button.mejs__play > button:before
        margin-left: 3px
    .players .mejs__button.mejs__play > button:before
        margin-left: 0
    .right .radio-stations
        padding: 20px 15px
@media only screen and (max-width : 575px)
    .page
        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8)
            display: none
    .fm, .country 
        width: 100% 
        margin-left: 0
    .playlist-content 
        padding: 10px 0 10px 15px
    .btn-favorites 
        +box(30px)
        padding: 0
        span 
            display: none
    .logo
        max-width: 160px
        margin-bottom: 10px
    input, textarea
        padding: 9px 20px
    .search button
        width: 37px 
        padding: 0  
        span
            color: transparent
            +box(14px)
            padding: 0  
    .btn-filter 
        margin-bottom: 20px
    .sort 
        padding: 10px 0
    .players-action
        width: 100% 
        margin-top: 10px
        justify-content: center
    .arrow-player.prev
        margin-left: 0
    .playlist .mejs__container
        transform: scale(0.5)    
        margin-right: -15px
        opacity: 1
    .playlist-content 
        margin-right: -15px 
        width: calc(100% + 15px)
        padding-left: 10px
    .playlist-date_item
        width: 20%
    .plaed
        padding: 20px 10px
    h2, .title2
        font-size: 30px
    h3, .title3
        font-size: 20px
    .radio-white img
        +box(102px)
    .radio-title
        font-size: 21px
    .comments_user
        padding-right: 0
        margin: 0 15px 10px
    .burger.active 
        top: 13px 
    .popup-container
        padding: 20px 10px
    .popup
        padding: 10px
    .submenu-content li
        width: 100% 
        padding-right: 0
    .submenu-2 li
        margin-bottom: 10px
    .players-item img
        margin-right: 10px
    .popup[data-item="popup-players"] img
        +box(50px)
        margin-right: 0
    .popup-player_item
        margin-left: -45px
        padding: 7px 15px
    .mejs__button button
        +box(40px)
    .popup[data-item="popup-players"] .players-item
        padding-left: 40px
    .popup[data-item="popup-players"] .players-item a
        font-size: 14px
    .players-item p
        font-size: 10px
    .popup[data-item="popup-players"] .mejs__time-rail 
        bottom: -12px
        left: -6px
        width: calc(100% + 7px)
@media only screen and (max-width : 374px)
    .name
        font-size: 14px
    .country, .fm, .tag
        font-size: 10px
    .tags, .country
        padding-left: 15px
        &:before 
            transform: translateY(-50%) scale(0.7)
            left: -2px
    .likes, .views
        font-size: 9px
        &:before 
            +box(14px)
            background-size: 14px
    .btn-like
        font-size: 9px
        span 
            font-size: 9px
            line-height: 15px
            padding: 0 10px 0 20px
            &:before 
                +box(10px)
    .playlist img
        width: 90px
    .playlist
        margin-bottom: 5px
    .page a 
        font-size: 16px
        line-height: 38px
        min-width: 24px
    .playlist-main 
        .title2 
            font-size: 24px
        
    .plaed-list img
        +box(45px)
        margin-right: 10px
    .plaed-achtor, .plaed-name
        font-size: 14px
        line-height: 18px
    .plaed-list li
        padding: 5px 0
    .plaed-time
        font-size: 10px
        min-width: 35px
        margin-left: 7px
    .plaed-time.now
        font-size: 11px