.players
    .container
        .media-wrapper
            .players-item.players-side
                img(src="img/common/sloy_78_1207.jpg", alt="img")
                div 
                    a(href="#") GotRadio - Classic Hits
                    p What's Love Got To Do With It - Tina Turner
            .players-action
                button.prev.arrow-player(type="button")

                audio.audio-footer(preload='none' controls='' aria-label="1")
                    source(src='https://static.kissfm.ua/kissfm/mp3/podcast/1014/16/2k-dj-kiss-club-mix-podkasty-15.04.21-kissfm.ua.mp3' type='audio/mp3')

                button.next.arrow-player(type="button")
            .players-side
                button.btn-favorites(type="button")